{% extends 'main/base.html' %}
{% load static %}
{% block title %} Login | EventsPro {% endblock title %}

{% block content %}
<div class="banner" style="height: 200px;">
    <div class="banner-box">
        <h3>Log In</h3>
    </div>
</div>

<div class="form-error">
{% if form.errors %}
{% for key, value in form.errors.items %}
<small class="form-error-small">{{ value }}</small>
{% endfor %}
{% endif %}
</div>

<div style="margin:60px 70px 10px 70px;">
    <form method="POST" class="mb-3" style="letter-spacing: 1px;">
        {% csrf_token %}

        <fieldset>
            <div class="form-fields">
                <!-- <legend>Add an Event</legend> -->
                <label for="username" class="form-top">Username: {{ form.username }}</label>
                <label for="password" class="form-top">Password: {{ form.password }}</label>
            </div>

            <div class="form-fields pt-4">
                <input class="submitBtn" type="submit" value="Log in">
                <div class="pt-0" style="font-size:13px;">
                    <a href="{% url 'accounts:register' %}">Create account</a>
                </div>
            <div>
        </fieldset>
    </form>
</div>


{% endblock content %}